.portfolioHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
    padding: 1rem;
    background-color: #FCF8F3;
}

.logo{
    font-size: 2rem;
    color: red;
    font-weight: bold;
}

.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

a{
    text-decoration: none;
    color: black;
}

.links span:hover{
    text-decoration: underline;
}

.links span{
    cursor: pointer;
}